<div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars fa-lg"></span>
          </button>
          <a class="navbar-brand" href="/">Pugger</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Events</a></li>
          </ul>
          <button id="sign-up" class="btn btn-success navbar-btn" data-toggle="modal"
                  data-target=".bs-example-modal-sm" ng-click="navCtrl.setPanel('register')">Sign Up</button>
          <button id="sign-in" class="btn btn-info navbar-btn" data-toggle="modal"
                  data-target=".bs-example-modal-sm" ng-click="navCtrl.setPanel('login')">Sign In</button>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Event/People Search">
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
        </div>
      </div>
    </nav>
</div>