{% extends "layout.html" %}

{% block content %}
    <div class="content-container"  ng-controller="EventFilter">
        <div id="wrapper">
            <filter-panel id="sidebar-wrapper"></filter-panel>
            <div id="page-content-wrapper" ng-controller="EventController">
                <div class="jumbotron">
                    <div class="centered">
                        <h1>Pugger</h1>
                        <p>Pugger is a site that helps you find, join, and rate pick up groups for sports in your area</p>
                    </div>
                </div>
                <div class="row-fluid no-padding"
                     ng-repeat="event in events | orderBy:['timeStart[0]', 'timeStart[1]']">
                    <event-panel ng-hide="isSportFiltered(event.sport)"></event-panel>
                </div>
            </div>
        </div>
    </div>
{% endblock %}